@use "../styles/variables.scss" as *;
body {
    font-family: Arial, sans-serif;
    margin:0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: $font-stack;
  position: relative;
}

.contact {
  padding: 100px 20px;
  background-color: #f9f9f9;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    label {
      display: block;
      font-size: 1rem;
      color: #555;
      margin-bottom: 0.5rem;
      text-align: left;
    }

    input,
    textarea {
      width: 100%;
      padding: 0.8rem;
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
    }

    button {
      background-color: #007bff;
      color: #fff;
      padding: 0.8rem 1.5rem;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

header {
  background: $secondary-color;
  padding: 1rem;
  margin:2rem;
  color: $font-color ;
  position: absolute;
  width: -webkit-fill-available;
  z-index: 10;
  box-shadow: 5px 5px 5px black;
  background: lightgray;
}

main{
    min-height: 800px;
}

footer {
  background: $primary-color;
  color: $secondary-color;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

/* Responsive Design */
// @media (max-width: 768px) {
//   header {
//     nav {
//       .menu-toggle {
//         display: block;
//       }

//       ul {
//         display: none;
//         flex-direction: column;
//         position: absolute;
//         top: 60px;
//         left: 0;
//         background: $primary-color;
//         width: 100%;
//         text-align: center;
//         padding: 1rem 0;

//         &.open {
//           display: flex;
//         }
//       }
//     }
//   }

//   .product-gallery {
//     flex-direction: column;

//     .product {
//       width: 100%;
//     }
//   }
// }

// 
.mt-50{
  margin-top: 50px;
}

.mb-20{
  margin-bottom: 20px;
}