@use "../../styles/variables.scss" as *;

nav {
    display: flex;
    align-items: center;

    .menu_toggle {
      display: none;
      background: none;
      border: none;
      font-size: 2rem;
      color: $secondary-color;
      cursor: pointer;
      position: absolute;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 1.5rem;

      li {
        color: $font-color;
        cursor: pointer;
      }
    }

    .contact{
      right: 0;
      position: absolute;
      margin-right: 20px;
      padding: 10px 8px;
    }
  }